
<br><br><br><br><br>
<div class="title">
  <h1>Gari <br/> Gallery</h1> 
 </div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/worsho.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop7.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop5.jpg" height="280">
    </div>
  </div>
 </div>

<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop4.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop3.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop2.jpg" height="280">
    </div>
  </div>
  </div>


<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src='/assets/images/work11.jpeg' height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work13.jpeg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work9.jpeg" height="280">
    </div>
  </div>
 </div>


<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work8.jpeg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work6.jpeg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work5.jpeg" height="280">
    </div>
  </div>
  </div>


<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work4.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work2.jpg" height="280">
    </div>
  </div>
  </div>

<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop1.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work3.jpg" height="280">
    </div>
  </div>
  
</div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/galla2.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/car8.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/air.jpeg" height="280">
    </div>
  </div>
  
</div>

