
<br><br><br><br><br>
<div class="title">
  <h1>Gari <br/> Gallery</h1> 
 </div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/worsho.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/worsho.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop7.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop7.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop5.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop5.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
 </div>

<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop4.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop4.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop3.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop3.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop2.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop2.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  </div>


<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work11.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work11.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work13.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work13.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work9.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work9.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
 </div>


<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work8.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work8.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work6.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work6.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work5.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work5.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  </div>


<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work4.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work4.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work2.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work2.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  </div>

<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop1.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop1.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/workshop.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/workshop.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/work3.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/work3.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  
</div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/galla2.jpg" height="280">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/car8.jpg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/car8.jpg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/assets/images/air.jpeg" height="280" data-toggle="modal" data-target="#myModal">
      <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Engineering</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <img src="/assets/images/air.jpeg"  width="470">
        <h5>Name: Daisy</h5><br>
        <h5>Place: Nai</h5><br>
        <h5>Name: Daisy</h5><br>
        <h5>Name: Daisy</h5><br>

      </div>
 <!-- Modal footer -->
 <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

    </div>
  </div>
  
</div>

