<p>profile is working</p>
<div class="card-body" *ngFor='let profile in profile'>
    <div class="card">
     
        <div class="card mt-4 p-1">
            <p>{{profile.image}}</p>
        </div>
        <h5 class="card-title"><span  class="badge badge-secondary">{{profile.role}}</span>
        </h5>
        <div class="card mt-4 p-1">
            <p>{{profile.description}}</p>
        </div>
       
        <div class="card mt-4 p-1">
            <p>{{profile.bio}}</p>
        </div>
        <div class="card mt-4 p-1">
            <p>{{profile.location}}</p>
        </div>
    </div>
</div>

<!-- <p>Profile is working</p>

<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" action="" method="post">
        <div class="card">
            <div class="card-header">
                <h1>Update Your Profile</h1>
                <input type="file"><br><br>
                <div>
                    <input type="text" placeholder="Name"><br><br>
                    <input type="text" placeholder="enter your location"><br>
                </div>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">  
    <label>
        Profile
        <input type="file" formControlFile="Photo">
          </label>
    <label>
      Name
      <input type="text" formControlName="Name">
    </label>
  
    <label>
      Location
      <input type="text" formControlName="Location">
    </label>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>  -->
   -->