<br><br><br><br><br>
<div class="row">
  <div class="col-md-3">
    <img src="/assets/images/male.png" width="193" height="193">
    <h4><strong>Charles Osango</strong></h4>
    <p>CEO ~ Gari workshop</p>
  </div>
  <div class="col-md-3">
    <img src="/assets/images/male.png" width="180" height="180">
    <h4><strong>Aoko Merceline</strong></h4>
    <p>General Manager ~ Gari workshop</p>
  </div>
  <div class="col-md-3">
    <img src="/assets/images/male.png" width="193" height="193">
    <h4><strong>Noble Mungu</strong></h4>
    <p>Branch Manager- Gari workshop</p>
  </div>
  <div class="col-md-3">
    <img src="/assets/images/female.png" width="193" height="193">
    <h4><strong>Mike Kiragu</strong></h4>
    <p>Client Advisor ~ Gari workshop </p>
  </div>
</div>


